* {
	margin:0;
	padding:0;
}
body{
	font:13px/1.231 arial,helvetica,clean,sans-serif;
	font-size:small;
	font:x-small;
}

select,input,button,textarea,button{
	font:80% arial,helvetica,clean,sans-serif;
	}

table{
	font-size:inherit;font:100%;
	}

pre,code,kbd,samp,tt{
	font-family:sans-serif;
	font-size:108%;
	line-height:100%;
}

html{
	height: 100%;
}

body {
    background-color:#eeeeee;
	color: #333;
	height: 100%;
}

#content div a{
font-size:16px;
}

#wrap {
	display: flex;
	width: 100%;
	margin: 0 auto;
	height: 100%;
}

#head {
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	background:bottom left repeat-x #106eb7;
	color: #fff;
	padding: 20px;
}

h1 {

	font-size: 197%;
	font-weight: bold;
}

h2 {
	font-weight: bold;
	margin-bottom: 0.5em;
}

#content {
	padding: 20px;
	padding-left: 20px;
	width: 100%;
	max-width: 650px;
	min-height: 490px;
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 153.9%;
}

#thread_content{
	width:30%;
}

* html #content {
	height: 490px;
}

p {
	line-height: 1.2em;
	margin-bottom: 0.5em;
}

dl {
	margin-bottom: 10px;
}
dt {
	border-left: 5px solid #106eb7;
	padding-left: 5px;
	margin-bottom: 5px;
}

dd {
	margin-bottom: 0.5em;
}

.required {
	background-color: #BB1850;
	color: #fff;
	font-size: 90%;
	padding: 2px;
	margin-left: 10px;
}

#foot {
	width: 780px;
	text-align: right;
}

th, td {
	border: 1px solid #999;
	padding: 3px;
}

th {
	background-color: #106eb7;
	color: #fff;
	font-weight: bold;
}

li {
	list-style: circle;
	margin-left: 20px;
	margin-bottom: 0.5em;
}

.paging {
	margin-top: 20px;
	text-align: center;
}
.paging li {
	display: inline;
	list-style: none;
}

.error {
	font-size: 90%;
	color: #BB1850;
}

#lead {
	margin-bottom: 1em;
}

.msg {
	clear: both;
	display:flex;
	border-top: 1px solid #ccc;
	padding: 10px 0;
}

.main_msg{
	border-top: 1px solid #ccc;
	padding: 10px 0;
	margin-left: 0px;
	max-width: 400px;
	width: 100%;
	font-size: 16px;
}

.main_msg img {
float: left;
margin-right: 5px;
}

.msg img {
	float: left;
	margin-right: 5px;
}


.message_img{
	margin-right:3%
}

.message_text{
    /* width: 100%; */
    width: 500px;
}

.msg .day,
.msg .day a {
	font-size: 80%;
	color: #999;
}

.thread_link{
	margin-bottom: 10px;
	display: inline-block;
	font-size: 16px;
	/* padding: 10px; */
}

.main_msg .day a {
	font-size: 80%;
	color: #999;
}

.name{
	font-weight:bold;
}


.mypage_img{
	text-align: center;
	border: 0;
	margin-top: 10px;
}

.mypage_name{
	text-align: center;
	border: 0;
	font-size: 16px;
	font-weight: bold;
}

.mypage_article{
	text-align: center;
    border-bottom: #ccc solid;
    max-width: 500px;
    width: 100%;
    margin: 25px auto;
}

.mypage_article:nth-child(3){
	margin-top: 40px;

}
.mypage_article p{
	font-size: 16px;
} 

.profile{
	max-width: 350px;
	margin: 10px 30px;
	margin-right: 0;
	width: 100%;
}

.thread_profile{
	width: 30%;
	margin: 30px;
}

.thread_profile img{
	max-width: 400px;
	width:100%;
	}
  

.profile img{
  max-width: 350px;
  width:100%;
}

.profile div{
  margin-bottom:30px;
}

.profile_tweet{
  max-width: 350px;
  width:100%;
  height: 100px;
  margin-bottom:20px;
}

.profile_name{
  font-size: 20px;
  margin-top: 40px;
}

.profile_submit{
	font-size:20px;
	max-width: 350px;
	width:100%;
	height:100%;
}

.mypage_changes{
	display:flex;
	justify-content:space-between;
	max-width:500px;
	width:100%;
	margin:0 auto;
	padding:0;
}

.mypage_change{
	margin:0;
	border:0;

}

.mypage_changes_button{
	display:flex;
	justify-content:space-between;
	max-width:500px;
	width:100%;
	margin:0 auto;
	padding:0;
}

.thread_title{
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 20px;
	border-bottom: darkblue 3px solid;
}

.thread_plus{
	border-left: 5px solid #106eb7;
	padding-left: 5px;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 16px;
}


.thread_name{
	max-width: 350px;
    width: 100%;
	margin-bottom: 20px;
	font-size: 16px;
}

.thread_make{
	max-width: 350px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
}

.to_top{
	position: fixed;
	right: 40px;
	top: 30px;
}

.thread_wrap{
	max-width: 250px;
	width: 100%;
	margin: 20p;
	padding-right: 50px;
	padding-top: 20px;
}

.mypage_changes_submit{
	text-align: center;
	margin: 0 auto;
}

.back_index{
	position:fixed;
	top:20px;
	right:10px;
	font-size:16px;	

}